<!doctype html>
<html>
  <head>
    <title>About <%=shopData.shopName%></title>
    <link rel="stylesheet"  type="text/css" href="/main.css" />
  </head>
  <body>
    <h1>About <%=shopData.shopName%></h1>
    <p>We sell all sorts of books and now forecast weather!</p>
    <p><a href="/">Return to Home</a></p>
  </body>
</html>