<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
    <link rel="stylesheet" type="text/css" href="/main.css">
</head>
<body>

    <h1>Login</h1>

    <form action="/users/loggedin" method="POST">

        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required>

        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required>

        <button type="submit">Log In</button>

    </form>
<p><a href="/">Return to Home</a></p>


</body>
</html>
